.dropdown {
		display: inline-block;
		position: relative;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		width: 100%;
		overflow: auto;
		box-shadow: 0px 10px 10px 0px blue;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	.dropdown-content a {
		display: block;
		color: black;
		padding: 3px;
		text-decoration: none;
	}
	.dropdown-content a:hover {
		color: #FFFFFF;
		background-color: blue;
	}
	.top{
		padding-top: 10px;
	}
	nav {
		position: absolute;
	}
	.newDiv2 {
		background-color: #17a2b8;
		height: 240px;
		width: 100%;
	}
	.newDiv8{
		height: 600px;
		width: 100%;
		background-color: yellow;
	}
	.newDiv9{
		height: 900px;
		width: 100%;
		background-color: yellow;
	}
	.column {
		float: left;
		width: 33.33%;
		padding: 5px;
	}
	.column1 {
		float: left;
		width: 60%;
		padding: 5px;
		margin-left: 50px;	
	}
	.column2{
		display: flex;
		flex-wrap: wrap;
	}
	.column2 img{
		width: 500px;
		min-width: 300px;
	}
	.column3{
		display: flex;
		flex-wrap: wrap;
	}
	.column3 img{
		width: 300px;
		min-width: 300px;
	}
	.column4{
		display: flex;
		flex-wrap: wrap;
	}
	.column4 img{
		width: 300px;
		min-width: 300px;
	}
	.newDiv4 {
		height: 600px;
		width: 100%;
		background-color: yellow;
		display: flex;
	}
	.newDiv4 div {
		height: 40%;
		width: 100%;
	}
	.container3 {
		padding: 16px;
	}
	.container1 {
		padding: 16px;
		padding-right: 15px;
		padding-left: 1000px;
	}
	.container2 {
		max-width: -100%;
		height: auto;
		margin-top: -25rem;
		margin-left: 500px;       
	}
	input[type=text], input[type=password] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		margin-left: 100px;
	}
	input[type=text1], input[type=password] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		margin-left: 400px;
		margin-right: 80px;
	}
	input[type=papun], input[type=lingaraj] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		margin-left: 15px;
	}
	.btn1 {
		color: white;
		background-color: #17a2b8;
		display: inline-table;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1;
		border-radius: 30px;
		margin-left: 8px;
		cursor: pointer;
		padding-right: 8.8rem;
		padding-left:  8.8rem;
	}
	.btn1:hover {
		opacity: 0.8;
	}
	.btn2 {
		color: white;
		background-color: #17a2b8;
		display: inline-block;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 30px;
		margin-left: 100px;
		cursor: pointer;
		padding-right: 1rem;
		padding-left:  1rem;
		margin-left: 5px;
	}
	.btn2:hover {
		opacity: 0.8;
	}
	.textarea{
		width: 100%;
		padding: 10px;
		font-size: 1rem;
		line-height: 1.5;
		border: 1px solid #ced4da;
		margin-left: 100px;
	}
	.s1{
		position: relative;
		padding-right: 200px;
		padding-left: 180px;
		float: left;
		width: 100%;
		margin-top: 100px;
	}
	.s2{
		display: flex ;
	}
	.s3{
		padding-left: 1rem ;
	}
	.s4{
		align-items: center ;
		justify-content: center ;
		background-color: #17a2b8 ;
		color: #00394f ;
		border-radius: 50% ;
		padding-left: 1rem;
		padding-top: 1rem;
	}
	.s5{
		align-items: center ;
		justify-content: center ;
		background-color: #17a2b8 ;
		color: #00394f ;
		border-radius: 50% ;
		padding-left: .8rem;
		padding-top: .8rem;
	}
	.s6{
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 80px;
		float: left;
		width: 26%;
	}
	.newDiv5 {
		height: 600px;
		width: 100%;
		background-color: powderblue;
	}
	.newDiv6 {
		height: 400px;
		width: 100%;
		background-color:white;
	}
	.l1{
		position: static;
		width: 100%;
		padding-right: 1050px;
		padding-left: 50px;
	}
	.l2{
		position: relative;
	}
	.l3{
		position: absolute;
		width: 100%;
		padding-right: 15px;
		padding-left: 800px;
		/*margin-bottom: 5rem ;*/
	}
	.a1{
		position: relative;
		padding-right: 200px;
		padding-left: 100px;
		float: left;
		width: 55%;
	}
	.a2{
		position: relative;
		float: left;
		width: 43%;
		margin-left: -150px;
	}
	.a3{
		display: flex;
	}
	.a4{
		margin-left: 70px;
	}
	.a5{
		position: static;
		float: right;
		width: 70%;
		margin-left: -400px;
		margin-right: -200px;
		text-align: left;
	}
	.a6{
		position: static;
		float: right;
		width: 100%;
		margin-left: 10px;
		margin-right: 100px;
		text-align: left;
	}
	.newDiv7{
		margin-left: 100px;
	}
	.m1{
		align-items: center ;
		justify-content: center ;
		background-color: #17a2b8 ;
		color: #00394f ;
		border-radius: 50% ;
		padding-left: .8rem;
		padding-top: .8rem;
		cursor: pointer;
	}
	.m1:hover {
		opacity: 0.8;
	}
	.column2 {
		float: left;
		width: 25%;
		padding: 5px;
	}
	.btn5 {
		color: white;
		background-color: #17a2b8;
		display: inline-block;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 30px;
		margin-left: -100px;
		cursor: pointer;
		padding-right: 1.3rem;
		padding-left:  1.3rem;
	}

	.btn5:hover {
		opacity: 0.8;
	}
	.btn4 {
		color: white;
		background-color: #17a2b8;
		display: inline-block;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 30px;
		margin-left: 220px;
		cursor: pointer;
		padding-right: 10rem;
		padding-left:  10rem;
	}
	.btn4:hover {
		opacity: 0.8;
	}
	.column3 {
		float: left;
		width: 30%;
		padding: 5px;
		margin-left: 30px;
	}
	.newDiv10{
		height: 600px;
		width: 100%;
		background-color: yellow;
	}
	.newDiv11{
		height: 400px;
		width: 100%;
		background-color: white;
	}
	.newDiv13{
		height: 500px;
		width: 100%;
		background-color: white;
	}
	.c1{
		padding: 0.75rem 1.25rem;
		margin-bottom: 5;
		background-color: #00394f;
		margin-left: 830px;
		margin-right: 100px;
	}
	.c2 {
		flex: 1 1 auto;
		min-height: 1px;
		padding: 1.25rem;
		margin-left: 410px;
		margin-right: -100px;
	}
	.c3 {
		flex: 0 0 auto;
		flex-flow: row wrap;
		align-items: center;
		margin-bottom: 0;
		width: 40%
	}
	.c4{
		margin-right: 500px;
		margin-left: 400px;
	}